@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


body{
    background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 1800px;
}

#root{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.timeline {
    flex: 0 0 800px;
    font-family: 'Inter', sans-serif;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}

.header {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
}

.top-tweets {
    width: 1.5rem;
    height: auto;
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding:  .3rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.avatar {
    flex: 0 0 70px;
    /*padding: 0 rem;*/
}

.avatar img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.tweet-editor-form {
    flex: auto;
}

.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    resize: none;
    padding: 10px 0 0 0;
    margin: 13px 0;
}

.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0.8rem 0;*/
    gap: 1rem;
}
.tweet-editor-actions button {
    background-color: transparent;
    border: none;
}
.button {
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}
.tweet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.tweet-avatar {
    /*height: 70px;*/
    /*width: 70px;*/
    flex: 0 0 70px;
}

.tweet-avatar img{
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}
.tweet-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}
.tweet-body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.tweet-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
}

.tweet-title svg{
    width: 1.2rem;
    height: auto;
}
.tweet-title-author{
    font-size: 1rem;
}
.tweet-title-details{
    color: #6E767D;
}
.tweet-text{
    color: #D9D9D9;
    font-size: 1rem;
}

.tweet-image{
    width: 100%;
    padding:  .3rem 0 0 0;
}

.tweet-image img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2F3336;
    border-style: solid;
    border-width: 1px;
}

.tweet-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: grey;
    font-size: 1rem;
}

.tweet-actions div svg {
    width: 2rem;
    height: auto;
    color: #2F3336;
    border-radius: 50px;
    /* color: rgb(29, 155, 240); */
}

.tweet-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.tweet-react:hover{
    color: rgb(249, 24, 128);
    stroke: rgb(249, 24, 128);
    transition: all 1s;
}

.tweet-react:hover svg{
    color: rgb(249, 24, 128);
    stroke: rgb(249, 24, 128);
    background-color: rgba(249, 24, 128, 0.3);
    fill: rgba(249, 24, 128, 0.5);
    transition: all 1s;
    /* padding: 5px; */
}

.tweet-retweet:hover{
    color: rgb(0, 186, 124);
    stroke: rgb(0, 186, 124);
    transition: all 1s;
}

.tweet-retweet:hover svg{
    color: rgb(0, 186, 124);
    stroke: rgb(0, 186, 124);
    background-color: rgba(0, 186, 124, 0.3);
    transition: all 1s;
}

.tweet-reply:hover{
    color: rgb(29, 155, 240);
    stroke: rgb(29, 155, 240);
    transition: all 1s;
}

.tweet-reply:hover svg{
    color: rgb(29, 155, 240);
    stroke: rgb(29, 155, 240);
    fill: rgba(29, 155, 240, 0.5);
    background-color: rgba(29, 155, 240, 0.3);
    transition: all 1s;
}


.nav-link{
    display: flex;
    gap: 20px;
    margin: 20px 0 ;
    color: #D9D9D9;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.logo{
    margin: 20px 0;
}

aside{
    width: 100%;
    padding: 10px;
}

.navbar{
    position: fixed;
}

.trend-container{
    display: flex;
}

.trend{
    display: flex;
    justify-content: space-between;
    /* background-color: #202327; */
    color: #6E767D;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

.trends {
    width: 100% ;
}

/* .trends > div{
    position: fixed;
} */

.trending-list{
    border-radius: 10px ;
    background-color: #202327;
    margin-top: 10px;
    width: 250px;
    padding: 10px;
}

.trend-title{
    color: #D9D9D9;
    font-weight: bold;
}

.trendlist-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #D9D9D9;
    font-weight: bold;
}


input[type=search]{
    outline: none;
    border: none;
    width: 250px;
    height: 32px;
    /* margin: 10px 0; */
    border-radius: 15px;
    background-color: #202327;
    margin: 0 10px;
    color: #D9D9D9;
}

.search-box{
    outline: none;
    border: none;
    width: 250px;
    height: 32px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 15px;
    background-color: #202327;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow-list{
    background-color: #202327;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
}

.account-follow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.user-info{
    font-size: 0.8rem;
    justify-self: start ;
    justify-self: flex-start;
    /* background-color: red; */
}

.button-follow {
    text-transform: capitalize;
    padding: .5rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: #D9D9D9;
    color: #050505;
    font-size: .8rem;
}

.tweet-avatar img {
    max-width: 50px;
}

.user-title{
    font-weight: bold;
}

